{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />


{% include 'head.html' %}

<style>
    .fc-list-item-time {
        display:none;
      }
</style>

<body>
    <div class="splash active">
        <div class="splash-icon"></div>
    </div>

    <div class="wrapper">
       {% include 'sidebar.html' %}
        <div class="main">
            {% include 'header.html' %}
            <main class="content">

                
                <div class="container-fluid">
                    
                

                    <div class="header">
                        <h1 class="header-title">
    Calender: 
                        </h1>
                        <nav aria-label="breadcrumb">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
        
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6 col-lg-3">
                                                    <label class="form-label">Criterion</label>
                                                    <div class="mb-3">
                            
                                                        <select class="form-control select2" name="criterion" id="criterion" data-bs-toggle="select2">
                                                        
                                                        <optgroup label="Criterion">
                            
                                                            {% for single in criterion  %}
                                                            
                                                            <option value="{{single.id}}">{{single}}</option>
                                                            {% endfor %}
                                                        
                                            
                                                        </optgroup>
                                                        
                                                    
                                                    </select>
                                                        <label class="form-label badge bg-success mt-3" id="criterion_display">Criterion</label>
                                                    </div>
                            
                                                </div>
                                                <div class="col-xs-12 col-md-6 col-lg-3">
                                                    <label class="form-label">Projects</label>
                                                    <div class="mb-3">
                            
                                                        <select class="form-control select2" name="project" id="project" data-bs-toggle="select2">
                                                        
                                                        <optgroup label="Active Projects">
                                                            <option value="0">None</option>
                                                            {% for single in project  %}
                                                            
                                                            <option value="{{single.id}}">{{single}}</option>
                                                            {% endfor %}
                                                        
                                                            
                                                        </optgroup>
                                                        
                                                    
                                                    </select>
                                                        <label class="form-label badge bg-success mt-3" id="project_display">Projects</label>
                                                    </div>
                            
                                                </div>
                                                <div class="col-xs-12 col-md-6 col-lg-3">
                                                    <label class="form-label">Postion</label>
                                                    <div class="mb-3">
                            
                                                        <select class="form-control select2" name="position" id="position" data-bs-toggle="select2">
                                                        
                                                        <optgroup label="Job Postion">
                                                            <option value="0">All</option>
                                                            {% for single in position  %}
                                                            <option value="{{single.id}}">{{single}}</option>
                                                            {% endfor %}
                                                        
                                                            
                                                        </optgroup>
                                                        
                                                    
                                                    </select>
                                                        <label class="form-label badge bg-success mt-3" id="position_display">Position</label>
                                                    </div>
                            
                                                </div>
                            
                                                <div class="col-xs-12 col-md-8 col-lg-2">
                                                    <label class="form-label">Action</label>
                                                    <div class="mb-3">
                            
                                                        <button id="myBtn" class="btn btn-primary">Filter</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Calendar View: by default the calender shows Audit Interval Criterion</h5>
                            <div id="fullCalModal" style="display:none;">
                            
                              </div>
                        </div>
                        <div class="card-body">
                            <div id="fullcalendar"></div>
                        </div>
                    </div>

                </div>
            </main>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-8 text-start">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Terms of Service</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4 text-end">
                            <p class="mb-0">
                                &copy; 2022 - <a href="dashboard-default.html" class="text-muted">Spark</a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <svg width="0" height="0" style="position:absolute">
		<defs>
			<symbol viewBox="0 0 512 512" id="ion-ios-pulse-strong">
				<path
					d="M448 273.001c-21.27 0-39.296 13.999-45.596 32.999h-38.857l-28.361-85.417a15.999 15.999 0 0 0-15.183-10.956c-.112 0-.224 0-.335.004a15.997 15.997 0 0 0-15.049 11.588l-44.484 155.262-52.353-314.108C206.535 54.893 200.333 48 192 48s-13.693 5.776-15.525 13.135L115.496 306H16v31.999h112c7.348 0 13.75-5.003 15.525-12.134l45.368-182.177 51.324 307.94c1.229 7.377 7.397 11.92 14.864 12.344.308.018.614.028.919.028 7.097 0 13.406-3.701 15.381-10.594l49.744-173.617 15.689 47.252A16.001 16.001 0 0 0 352 337.999h51.108C409.973 355.999 427.477 369 448 369c26.511 0 48-22.492 48-49 0-26.509-21.489-46.999-48-46.999z">
				</path>
			</symbol>
		</defs>
	</svg>
    <script src="{% static 'js/app.js' %}"></script>

    <script>



    
        document.addEventListener("DOMContentLoaded", function() {
            $(".select2").each(function() {
                $(this)
                    .wrap("<div class=\"position-relative\"></div>")
                    .select2({
                        placeholder: "Projects",
                        dropdownParent: $(this).parent()
                    });
            })
    
        });
    
    
        document.addEventListener("DOMContentLoaded", function() {
            $(".select3").each(function() {
                $(this)
                    .wrap("<div class=\"position-relative\"></div>")
                    .select2({
                        placeholder: "Tracker",
                        dropdownParent: $(this).parent()
                    });
            })
    
        });
    
        document.addEventListener("DOMContentLoaded", function() {

            $.ajax({
                url: '/audit/calender_json/',
                dataType: 'json',
                cache: false,
                success: function(data) {
                        console.log(data)
    
    
                    var today = moment().day();
                    // moment().format("YYYY-MM-DD"),
                    var calendarEl = document.getElementById('fullcalendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        themeSystem: 'bootstrap',
                        initialView: 'dayGridMonth',
                        
                        dayMaxEventRows: true,
                        
                    
                        initialDate: moment().format("YYYY-MM-DD"),
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,listWeek'
                        },
                        events:data,

                        
                        
                        
                    
                    },
                    
            

                    );
                    setTimeout(function() {
                        calendar.render();
                    }, 250)

                }
                });
    
    
                
    
    
            });




        

            document.getElementById("myBtn").addEventListener("click", function() {

                var criterion_id = $('#criterion').val();
                var project_id = $('#project').val();
                var position_id = $('#position').val();
    
    
                document.getElementById("criterion_display").innerHTML = $("#criterion option:selected").text();
                document.getElementById("project_display").innerHTML = $("#project option:selected").text();
                document.getElementById("position_display").innerHTML = $("#position option:selected").text();
        
    
                $.ajax({
                    url: '/audit/calender_json/' + criterion_id + '/' + project_id + '/' + position_id + '/',
                    dataType: 'json',
                    cache: false,
                    success: function(data) {
                        
    
                        $('#fullcalendar').empty();
     
                        
                    var today = moment().day();
                    // moment().format("YYYY-MM-DD"),
                    var calendarEl = document.getElementById('fullcalendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        themeSystem: 'bootstrap',
                        initialView: 'dayGridMonth',
                        
                        dayMaxEventRows: true,
                        
                    
                        initialDate: moment().format("YYYY-MM-DD"),
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,listWeek'
                        },
                        events:data,

                        
                        
                        
                    
                    },
                    
            

                    );
                    setTimeout(function() {
                        calendar.render();
                    }, 250)

                    
                        
        
                    }
        
        
                });
    
    
            });


    </script>
</body>



</html>