{% load common %}
<div class="card-body" id="json_div">
   <div class="my-2">
       
         <button type="submit"   class="btn mb-1 btn-success"><i class="fas fa-check"></i> Insert</button>
           <table id="datatables-clients" class="table table-striped" style="width:100%">
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Employee</th>

                       {% for date in date_list %}
                       <th>{{date|date:"D ,d M "}}</th>
                       {% endfor %}


                   </tr>
               </thead>
               <tbody>


                   {% for single in employee %}
                   <tr>
                       <td>{{forloop.counter}}</td>
                       <td>{{single}}</td>

                       {% for date in date_list %}
                       <input id="name" type="hidden" value="{{single.id}}" name="name{{single.id}}{{date|date:"m-d"}}">
                       <input id="name" type="hidden" value="{{date|date:'Y-m-d'}}" name="date{{single.id}}{{date|date:"m-d"}}">
                       <td>
                           <div>

                               <select class="form-select" id="select" name="tracker{{single.id}}{{date|date:"m-d"}}">
                                   {% set ga_label = 'false' %}
                                   {% for x in single.auditee.all %}
                                   {% if date|date:"Y-m-d"  == x.date|date:"Y-m-d" and x.criterion.tracker.id ==  criterion_m.0.tracker.id  %}
                               
                                   {% set ga_label = 'true' %}
                                   <option value="0"  class="others" selected>{{x}} </option>
                                   


                                   {% elif ga_label == 'false' and forloop.last %}
                                   {% set ga_label = 'false' %}
                                   <option value="none" >unaudited</option> 
                                   {% endif %}

                                   {% empty %}
                                   {% set ga_label = 'false' %}
                                   <option value="none">unaudited</option>

                                   {% endfor %}
                   
                                   {% for x  in criterion_m %}
                           
                                   <option value="{{x.id}}">{{x}}</option>
                                   {% endfor %}
                               </select>
                           </div>

                       </td>


                       {% endfor %}


                   </tr>
                   {% endfor %}


               </tbody>
           </table>
           <button type="submit"   class="btn mb-1 btn-success"><i class="fas fa-check"></i> Insert</button>
       </form>


   </div>
</div>