<div class="card-body">
   <div class="my-5">


      <table id="datatables-clients" class="table table-striped" style="width:100%">
         <thead>
            <tr>
               <th>#</th>
               <th>Employee</th>
            
               {% for date in date_list %}
               <th>{{date| date:"D ,d M "}}</th>
               {% endfor %}
            
               
            </tr>
         </thead>
         <tbody>
         
            
         {% for single  in employee %}
            <tr>
               <td>{{forloop.counter}}</td>
               <td>{{single}}</td>

               {% for date in date_list %}
               <td>{{single}}</td>
               {% endfor %}


            </tr>
         {% endfor %}
         

         </tbody>
      </table>


      
   </div>
</div>